@import '../../../styles/variables.scss';

.contacts {
  height: 80%;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 4px;
  @include flexbox;
  @include flex-direction(row);
  align-items: stretch;
  @media screen and (max-width: $break-small) {
    @include flex-direction(column-reverse);
    height: 100%;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 25%;
    flex: 1 1 25%;
    border-right: 1px solid $border-color;
    @media screen and (max-width: $break-small) {
      width: initial;
      flex: 1 1 50%;
      border-top: 1px solid $border-color;
      border-right: none;
      height: 100%;
      overflow-y: inherit;
      display: flex;
      .contact-container {
        overflow-y: auto;
      }
    }
    > .search {
      position: relative;
      padding: 15px 30px;
      > input {
        border: 1px solid #cdcdcd;
        border-radius: 4px;
        width: calc(100% - 5px);
        font-family: Ionicons, "AvenirNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: .9em;
        text-align: left;
        margin-bottom: 5px;
        &::-webkit-input-placeholder {
          position: relative;
          padding-left: 40%;
          -webkit-transition: padding 0.5s;
          transition: padding 0.2s;
        }

        &:-moz-placeholder {
          position: relative;
          padding-left: 40%;
          -moz-transition: padding 0.5s;
          transition: padding 0.5s;
        }

        &::-moz-placeholder {
          position: relative;
          padding-left: 40%;
          -moz-transition: padding 0.5s;
          transition: padding 0.5s;
        }

        &:-ms-input-placeholder {
          position: relative;
          padding-left: 40%;
          -ms-transition: padding 0.5s;
          transition: padding 0.5s;
        }

        &:focus::-webkit-input-placeholder {
          padding-left: 3px;
        }

        &:focus:-moz-placeholder{
          padding-right: 3px;
        }

        &:focus::-moz-placeholder{
          padding-right: 3px;
        }

        &:focus:-ms-input-placeholder{
          padding-right: 3px;
        }

        &:after {
          content: "";
        }
      }
      .clear-container {
        position: absolute;
        top: 15px;
        right: 30px;
        .btn.clear {
          margin-top: -1px;
          border: none;
          color: rgba(92, 92, 92, 0.8);
          font-size: 19px;
          background-color: transparent;
          padding: 0 3px 0 0;
          height: 20px;
          border-radius: 0;
          &:hover {
            color: rgba(92, 92, 92, 1.0);
          }
        }
      }
    }
    .contact {
      padding: 3px 0;
      .contact-name {
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 5px 10px;
        &.empty {
          font-style: italic;
          font-weight: 100;
        }
      }
      &.selected {
        background-color: $active-color;
        color: white;
      }
    }
  }
  .contacts-edit-pane {
    width: 75%;
    overflow-y: auto;
    flex: 2 2 75%;
    @media screen and (max-width: $break-small) {
      width: initial;
      flex: 1 1 50%;
    }
    display: flex;
    position: relative;
    .contacts-edit-pane-container {
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
    }
    .contact-details {
      flex: 1 1 90%;
      margin: 15px 15px;
      .field {
        display: flex;
        font-weight: 200;
        &:not(:last-child):not(:first-child) {
          border-bottom: 1px solid $border-color;
        }
        &.name {
          font-size: 2em;
          .value:first-child {
            text-align: right;
          }
        }
        > .label {
          flex: 1 1 25%;
          text-align: right;
          color: rgba(177, 177, 177, 1.0);
          margin: 5px;
          &.editable {
            color: $active-color;
          }
        }
        > .value {
          flex: 1 1 75%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 5px;
        }
      }
    }
    .toolbar-container {
      flex: 0 0 30px;
      padding: 0 15px;
      margin: 10px 0;
      .toolbar {
        height: 100%;
        position: relative;
        bottom: 0;
        display: flex;
        align-items: stretch;
        button.btn.add {
          padding: 0 15px;
          font-size: 1.2em;
        }
        button.btn.edit {
          font-size: 0.8em;
          padding: 4px 15px;
          margin-left: auto;
        }
        button.btn.done {
          color: rgba(64, 144, 252, 1.0);
          font-size: 0.8em;
          padding: 4px 15px;
          margin-left: auto;
        }
      }
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  .dropdown-menu {
    position: absolute;
    visibility: hidden;
    transition: all 0.2s ease 0s, visibility 0s linear 0.2s;
    opacity: 0;
    top: 0;
    left: 0;
    margin: 0.4px 0 0 0;
    padding: 0;
    white-space: nowrap;
    border: 1px solid $border-color-light;
    border-radius: 4px;
    background-color: $border-color;
    box-shadow: 1px 1px 15px 1px $border-color;
    &.open {
      transition-delay: 0s;
      visibility: visible;
      display: block;
      opacity: 1;
    }
    .divider {
      border-bottom: 1px solid $divider-color;
    }
    li:last-of-type {
      padding-bottom: 3px;
    }
  }
  .dropdown-item {
    position: relative;
    top: 0;
    left: 0;
    padding: 2px 20px;
    font-size: .9em;
    margin: 0;
    list-style: none;
    .more {
      float: right;
    }
    &.disabled {
      color: $divider-color;
    }
    &:hover {
      .sub-menu {
        opacity: 1;
        color: black;
        visibility: visible;
      }
    }
    &:hover:not(.disabled):not(.divider) {
      background-color: $active-color;
      color: white;
    }
  }
}