<div class="contacts-edit-pane">
    <div class="contacts-edit-pane-container">
        <form name="editableContact" editable-form shown="false" class="contact-details" onbeforesave="isValid();">
            <div class="field name" ng-show="!selectedContact.company.value">
                <div class="value">
                    <span editable-text="selectedContact.firstName.value" buttons="no" e-placeholder="First">{{selectedContact.firstName.value}}</span>
                </div>
                <div class="value">
                    <span editable-text="selectedContact.lastName.value" buttons="no" e-placeholder="Last">{{selectedContact.lastName.value}}</span>
                </div>
            </div>
            <div ng-if="field.options.iterate !== false" ng-repeat="(key, field) in selectedContact" class="field birthday">
                <div class="label" ng-class="{'editable': editing === true}">
                    {{field.label}}
                </div>
                <div class="value">
                    <span editable-text="field.value" buttons="no" e-placeholder="{{field.placeholder}}">{{field.value}}</span>
                </div>
            </div>
            <div class="toolbar-container">
                <div class="toolbar">
                    <dropdown></dropdown>
                    <button type="submit" class="btn done" ng-show="editing === true" ng-click="done();">Done</button>
                    <button type="button" class="btn edit" ng-show="editing === false" ng-click="editContact()">Edit</button>
                </div>
            </div>
        </form>
    </div>
</div>